header .logo{
    background:url('../image/logo_blue.png') no-repeat center center;
}
header .list-wrapper ul.list li span{
    color:#59607c;
}
h4{
    height:12px;
    line-height:12px;
    padding-left:7px;
    border-left:4px solid #01c0c8;
    color:#84899f;
}
.content h1{
    margin-bottom:35px;
}

.content .api-info{
    padding:41px 32px;
    background-color:#fff;
}
.content .api-info .info-detail{
    margin-bottom:72px;

}



/* css样式 */
.content>#recharge{
    height: 660px;
}
.way-cf *{
    color: #666;
    font-size: 14px;
}
.way-cf img{
    margin: 30px 0px;
}
.img img{
    height: 400px;
    width: 550px;
}
