header .logo{
    background:url('../image/logo_blue.png') no-repeat center center;
}
header .list-wrapper ul.list li span{
    color:#59607c;
}


.advertisement{
    position: relative;
    height:580px;
    background-color:#09102c;
}
.swiper-wrapper{
    position: relative;
    height:580px;
}
.swiper-wrapper li{
    position: relative;
    width:1200px;
    height:580px;
}
.swiper-wrapper li a{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    -webkit-background-size:auto 100%;
    background-size:auto 100%;
    background-position: center center;
}
.banner1{
    background-image: url('../image/banner1.png');
}
.banner2{}
.banner3{}
.banner4{}
.nav-wrapper{
    position: absolute;
    left:50%;
    bottom:23px;
    margin-left:-50px;
    width:101px;
    height:5px;
    z-index:10;
}
.nav-wrapper li{
    float:left;
    margin-right:8px;
    width:17px;
    height:5px;
    background-color:#48609e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.nav-wrapper li:last-child{
    margin-right:0;
}
.nav-wrapper li.active{
    width:26px;
    background-color:#043fff;
}


.h1-tips{
    margin:8px 0 15px;
    color:#afafaf;
}
.result-box{
    margin-bottom:26px;
    /*height:263px;*/
}
.result-box ul{
    padding: 25px 0 27px;
    background-color:#fff;
    border-bottom:1px solid #e7e7e7;
}
.result-box ul li{
    width:50%;
    float: left;
    height:210px;
    border-right:1px solid #e7e7e7;
    text-align: center;
}
.result-box ul li:nth-child(3){
    border:none;
}
.result-box ul li h2{
    position: relative;
    margin-bottom:22px;
    padding-bottom:14px;
    font-size:18px;
    color:#393c41;
}
.result-box ul li h2 span{
    position: absolute;
    bottom:0;
    left:50%;
    margin-left:-28px;
    width:56px;
    height:3px;
}
.result-box ul li:nth-child(1) h2 span{
    background-color:#4f89fc;
}
.result-box ul li:nth-child(2) h2 span{
    background-color:#ffb03f;
}
.result-box ul li:nth-child(3) h2 span{
    background-color:#cfc9c1;
}
.result-box ul li strong{
    display: inline-block;
    height:42px;
    line-height:42px;
    font-size:42px;
    color:#afafaf;
}
.result-box ul li p{
    margin-bottom:26px;
    padding-top:28px;
    height:40px;
    line-height:12px;
    color:#afafaf;
}
.result-box ul li div{
    margin:0 auto;
    width:102px;
    height:34px;
    line-height:34px;
    border:1px solid #ccc;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color:#6a6a6a;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background-color:#fff;
}
.result-box ul li div:hover{
    color:#fff;
    background-color:#4f89fc;
    border-color:#4f89fc;
}
.download-box{
    padding-top:24px;
    height:119px;
    background-color:#f4f4f4;
    text-align: center;
}
.download-box p{
    margin-bottom:18px;
    height:12px;
    line-height:12px;
    color:#1a1a1a;
    font-weight:bold;
}
.download-box div{
    margin:0 auto;
    width:160px;
    height:36px;
    line-height:36px;
    background-color:#4f89fc;
    cursor: pointer;
}

.result-list{
    padding:19px 23px;
    background-color:#fff;
}
.result-list .buttons div{
    float:left;
    margin-right:14px;
    width:62px;
    height:32px;
    line-height:32px;
    border:1px solid #e3e3e3;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color:#6a6a6a;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.result-list .buttons div:hover{
    color:#fff;
    background-color:#4f89fc;
    border-color:#4f89fc;
}
.result-list ul.title{
    height:50px;
    line-height:50px;
}
.result-list ul.title li{
    font-weight:bold;
    float:left;
    color:#615e5e;
}
#history li{
    float:left;
    height:50px;
    line-height:50px;
    border-top:1px solid #e3e3e3;
    background-color:#fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
#history li p{
    padding-left:15px;
    float: left;
    color:#7a7b81;
}
#history li p span{
    color:#4992ff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}
#history li p span:hover{
    color:#97bbf1;
}
#history li p span.down{
    margin-right:35px;
}

.col1{
    width:102px;
}
.col2{
    width:350px;
}
.col3{
    width:288px;
}
.col4{
    width:284px;
}
.col5{
    width:123px;
}
#history li p.col1{
    padding-left:0;
}
#history li p.col2{
    padding-left:50px;
    background:url("../image/zip_icon.png") no-repeat 15px center;
}

#history li:hover{
    background-color:#f1f1f1;
}

#noData{
    display: none;
    color:#615e5e;
    font-size:16px;
    font-weight: bold;
    text-align: center;
    height:100px;
    line-height:100px;
}

.bindErp{
    display: none;
}