header .logo{
    background:url('../image/logo_blue.png') no-repeat center center;
}
header .list-wrapper ul.list li span{
    color:#59607c;
}
h4{
    height:12px;
    line-height:12px;
    padding-left:7px;
    border-left:4px solid #01c0c8;
    color:#84899f;
}
.content h1{
    margin-bottom:35px;
}

.content .api-info{
    padding:41px 32px;
    background-color:#fff;
}
.content .api-info .info-detail{
    margin-bottom:72px;
    height:146px;
}
.content .api-info .info-detail .basic{
    margin-right:20px;
    width:333px;
    height:146px;
    border-right:1px solid #e4e5e8;
}
.content .api-info .info-detail .basic p{
    margin:22px 0 18px;
    height:12px;
    line-height:12px;
    color:#84899f;
}
.content .api-info .info-detail .basic strong{
    display: block;
    margin-bottom:22px;
    height:24px;
    line-height:24px;
    font-size:24px;
    color:#84899f;
}
.content .api-info .info-detail .basic button{}
.content .api-info .info-detail .inter{
    margin-right:20px;
    width:400px;
    height:146px;
    border-right:1px solid #e4e5e8;
}
.content .api-info .info-detail .inter p{
    margin-top:12px;
    width:280px;
    height:30px;
    line-height:30px;
    color:#84899f;
}
.content .api-info .info-detail .msg-set{
    width:333px;
    height:146px;
}

.content .api-info .info-detail .msg-set .input-box{
    position: relative;
    margin-top:15px;
    width:318px;
    height:30px;
    line-height:30px;
}
.content .api-info .info-detail .msg-set .input-box input{
    float: left;
    padding-left:10px;
    width:249px;
    height:30px;
    border:1px solid #d3d5dc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color:#59607c;
}
.content .api-info .info-detail .msg-set .input-box span{
    position: absolute;
    right:0;
    top:0;
    width:61px;
    height:30px;
    border:1px solid #d3d5dc;
    color:#59607c;
    text-align: center;
    background-color:#fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.set-box{
    display: none;
    height: 230px;
}
.set-box.detection{
    display: block;
}

.set-box textarea{
    height: 135px;
    width: 745px;
    padding:13px;
    border: 1px solid #d2d5dc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    transition: 0.2s;
    color:#84899f;
}
.set-box textarea:hover{
    border: 1px solid #7aa9ff;
}
.set-box textarea:focus{
    border: 1px solid #5080d8;
}


.tabs{
    margin-top:24px;
}

.bind-ip p{
    margin:30px 0 15px;
    color:#9499ac;
}
.bind-ip .btn,.push .btn,.remind .btn{
    width: 70px;
    margin-top:15px;
    text-align: right;
    background-image: url(../image/baozun.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

.active1,.active2,.active3,.active4{
    height: 280px;
}
.active2{
    height: 274px;
}
.active3{
    height: 304px;
}
.active4{
    height: 274px;
}
.detection>ul{
    margin-top:24px;
    height: 40px;
    background-color: #eeeff1;

}

.set h4{
    height: 20px;
    line-height: 20px;
    background-image: url(../image/gantanhao.jpg);
    background-repeat: no-repeat;
    background-position: 40px;
}
.detection>ul li{
   height: 100%;
   width: 20%;
   float: left;
   color: #666; 
   font-size: 14px;
   text-align: center;
   line-height: 40px;
}
.detection table{
    height: 240px;
    width: 100%;
    border-collapse: collapse;
}
.detection table tr,.detection table tr td{
    border-bottom: 1px solid #eeeff1;
    color: #999;
    text-align: center;
}
.detection table tr td{
    width: 20%;    
}
.page{
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align: right;
}
.page input{
    height: 20px;
    width: 60px;
    background-color: #fff;
    color: #999;
    border: 1px solid #eeeff1;
}
.set .push{
    width: 100%;
    position: relative;
}
.switch,.switch1{
    display: inline-block;
}
.switch{
    color: #999;
    height: 40px;
    width: 80px;
    margin-top: 20px;
    line-height: 40px;
}
.switch1{
    height: 26px;
    width: 59px;
    background-color: #689cfc;
    position: absolute;
    
    top: 25px;
}
.switch1 .push-btn{
    position: absolute;
    left:1px;
    top:1px;
    width:27px;
    height: 24px;
    background-color:#fff;
}
.reception{
    height: 150px;
    margin-top: 20px;
    color: #999;
    position: relative;
}
.reception *{
    display: inline-block;
}
.reception div{
    color: #999;
    position: absolute;
    top:1px;
    width: 90px;
}
.reception input{
    height: 90px;
    width: 320px;
    border: 1px solid #d3d5dc;
    margin-left: 90px; 
}

.remind *{
    color: #999;
}
.remind{
    width: 100%;
    margin-top: 30px;
}
.remind input{
    border: 1px solid #d3d5dc;
    height: 20px;
    width: 40px;
    border-radius: 2px;
}
.remind1{
    margin-top: 30px;
}
.remind1 input{
    width: 230px;
    height: 33px;
    border-radius: 2px;
}
.number{
    width: 305px;
    text-align: right;
    margin-bottom: 60px;
}