*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size:12px;
    color:#fff;
    box-sizing: border-box;
}
html,body{
    min-width:1200px;
}

.cf:after{
    content:'';
    display: block;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

button,input,textarea{
    border:none;
    outline: none;
    border-radius: 0;
}
button{
    cursor: pointer;
}
button.btn{
    padding: 0 8px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    color: #84899f;
    transition: all 0.3s ease-in-out;
}
button.btn:hover{
    border: 1px solid #689cfc;
    box-shadow: 0 1px 4px rgba(122, 169, 255, .5);
}

button.btn:active{
    color: #fff;
    background-color: #689cfc;
}

::-webkit-input-placeholder {color:#e5e5e5;}
:-moz-placeholder {color:#e5e5e5;}
::-moz-placeholder {color:#e5e5e5;}
:-ms-input-placeholder {color:#e5e5e5;}
a{
    text-decoration: none;
}

.yellow{
    color:#f3bb02;
}
.blue{
    color:#4b92ff;
}
.green{
    color:#2ebed4;
}
.red{
    color:#f55f6a;
}
.gray{
    color:#888;
}
.through{
    text-decoration: line-through;
}
.circle{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

/*header开始*/
.header-wrapper{
    height:80px;
    padding-top:15px;
    background-color:#fff;
}

.header-image{
    height:200px;
    background-color:#09102c;
}
.header-image .title{
    height:200px;
    background:url('../image/index_title.png') no-repeat center center;
}
header{
    height:50px;
}
header .logo{
    width:197px;
    height:50px;
    background:url('../image/logo.png') no-repeat center center;
}
header .list-wrapper{
    position: relative;
}
header .list-wrapper ul.list{
    position: absolute;
    right:181px;
    top:0;
    width:258px;
    height:50px;
}
header .list-wrapper ul.list li{
    height:50px;
    padding: 17px 25px 0;
    float:left;
    cursor: pointer;
}
header .list-wrapper ul.list li a{
    color:#59607c;
    display: inline-block;
    padding-bottom:12px;
    border-bottom:2px solid transparent;
}
header .list-wrapper ul.list li a:hover{
    color:#4f89fc;
}
header .list-wrapper ul.list li.active a{
    color: #4f89fc;
    border-color: #4f89fc;
}
#rechargeBtn{
    position: absolute;
    right:96px;
    top:10px;
    width:60px;
    height:28px;
    line-height:28px;
    text-align: center;
    background-color:#ff4f4f;
    border-radius: 2px;
    display: none;
}
header .personal-center{
    display: none;
    position: absolute;
    top:10px;
    right:0;
    padding-bottom:10px;
    width:66px;
    height:48px;
    line-height:28px;
    cursor: pointer;
    background:url('../image/arrow.png') no-repeat right 12px;
}
header .personal-center span {
    color:#4f89fc;
}
header .personal-center ul{
    display: none;
    position: absolute;
    left:-20px;
    top:34px;
    width:100px;
    height:145px;
    background-color:#fff;
    border:1px solid #dbdbdb;
    border-bottom:none;
    z-index: 20;
}
header .personal-center ul li{
    width:100%;
    height:36px;
    line-height:36px;
}
header .personal-center ul li a{
    display: block;
    width:100%;
    height:36px;
    color:#767676;
    text-align: center;
    border-bottom:1px solid #dbdbdb;
}
header .personal-center ul li a:hover{
    color:#4f89fc;
}
header .personal-center:hover ul{
    display: block;
}
#bind{
    display: none;
}
/* 绑定自助通开始 */
#bindAccount{
    display: none;
    position: fixed;
    top:130px;
    right:258px;
    width:331px;
    height:48px;
    border:1px solid #273b87;
}
#bindAccount span{
    height:46px;
    line-height:46px;
    padding-left:12px;
    font-size:14px;
}
#bindAccount button{
    width:100px;
    height:46px;
    background-color:#273b87;
    font-size:16px;
}
/* 绑定自助通结束 */
/*header结束*/

.w1200{
    width:1200px;
    margin:0 auto;
}
.pl10{
    padding-left:10px;
}


.content{
    padding: 29px 0;
    background-color:#e9edf2;
}


h1{
    position: relative;
    /*margin-bottom:35px;*/
    height:35px;
    line-height:24px;
    font-size:24px;
    color:#36363a;
}
h1 span{
    position: absolute;
    left:0;
    bottom:0;
    width:64px;
    height:3px;
    background-color:#2ebed4;
}

/* footer开始 */
/* ======================================= */
.footer-wrapper{
    padding-top:64px;
    height:423px;
    background-color:#09102c;
}
.footer-wrapper .footer{

}
.footer-wrapper .footer .href-list{
    width:580px;
}
.footer-wrapper .footer .href-list:nth-child(2){
    width:100px;
}
.footer-wrapper .footer .href-list h3{
    margin-bottom:32px;
    font-weight:normal;
}
.footer-wrapper .footer .href-list ul{
    height:130px;
}
.footer-wrapper .footer .href-list ul li{
    float:left;
    margin-bottom:18px;
    width:280px;
    height:12px;
    line-height:12px;
}
.footer-wrapper .footer .href-list ul li a{
    color:#9599a3;
    position: relative;
}
.footer-wrapper .footer .href-list ul li a i{
    position: absolute;
    left:80px;
    top:-5px;
    width:36px;
    height:26px;
    background-color:#9599a3;
    border-radius: 12px;
    background-repeat:no-repeat;
    background-position: center center;
}
.footer-wrapper .footer .href-list ul li a i.qq{
    background-image: url('../image/qq.png');
}
.footer-wrapper .footer .href-list ul li a i.wx{
    background-image: url('../image/wx.png');
}
.copyright p{
    height:12px;
    line-height:12px;
    margin-bottom:12px;
    color:#4d5668;
}
/* footer结束 */
/* ======================================= */


/* tab开始 */
/* ======================================= */
.tabs {
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #e4e8eb;
    box-sizing: border-box;
}

.tabs li {
    float:left;
    width: 120px;
    height: 32px;
    color: #59607c;
    /*color: #848a9f;*/
    font-size: 12px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.tabs li:hover {
    color: #689cfc;
}

.tabs li.active {
    font-weight: bold;
    line-height: 26px;
    border-left: 1px solid #e4e8eb;
    border-right: 1px solid #e4e8eb;
    border-top: 3px solid #689cfc;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    color: #689cfc;
}

#login{
    display: none;
    position: absolute;
    top:10px;
    right:0;
    width:70px;
    height:30px;
    line-height:30px;
    text-align: center;
    background-color:#4f89fc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
/* tab结束 */
/* ======================================= */


/* 登录框开始 */
/* ======================================= */
#loginBox{
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    margin-left:-276px;
    margin-top:-257px;
    padding:30px 112px 46px;
    width:553px;
    height:392px;
    border:1px solid #273b87;
    background-color:#09102c;
    text-align: center;
    z-index:11;
}
#loginBox p{
    font-size:16px;
    margin-bottom:38px;
}
#account{
    margin-bottom:47px;
    padding-left:6px;
    width:327px;
    height:46px;
    text-align: left;
    border:1px solid #273b87;
    background-color:#0d183e;
}
#loginBox .code-wrapper{
    position: relative;
    margin-bottom:76px;
    width:327px;
    height:46px;
    border:1px solid #273b87;
    background-color:#0d183e;
}

#warningTel{
    display: none;
    position: absolute;
    left:112px;
    top:141px;
}
#warningCode{
    display: none;
    position: absolute;
    left:0;
    top:50px;
}
#wrongCode{
    display: none;
    position: absolute;
    left:0;
    top:50px;
}
#code{
    padding-left:6px;
    width:204px;
    height:44px;
    background-color:#0d183e;
}
#getCode{
    width:121px;
    height:44px;
    line-height:44px;
    background-color:#273b87;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
#codeBtn{
    width:121px;
    height:44px;
    line-height:44px;
    background-color:#273b87;
}
#getCode:hover{

    background-color:#fff;
    color:#273b87;
}
#codeBtn{
    display: none;
}
#loginBtn{
    width:327px;
    height:46px;
    line-height:46px;
    border:1px solid #273b87;
    background-color:#273b87;
    cursor: pointer;
}
.login-disabled-btn{
    display:none;
    width:327px;
    height:46px;
    line-height:46px;
}
.closeLogin{
    position: absolute;
    right:12px;
    top:12px;
    width:18px;
    height:18px;
    background: url("../image/close.png");
    cursor: pointer;
}
/* 登录框结束 */
/* ======================================= */

#mask{
    display: none;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 10;
}


/* 轮播图开始 */
/* ======================================= */
.advertisement{
    position: relative;
    height:580px;
    background-color:#09102c;
    overflow: hidden;
}
.swiper-container{
    margin:0 auto;
    overflow: hidden;
}
.swiper-wrapper{
    position: relative;
    left:0;
    top:0;
    width:4800px;
    height:580px;
    z-index: 10;
}
.swiper-wrapper li{
    float:left;
    position: relative;
    width:1200px;
    height:580px;
}
.swiper-wrapper li a{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    -webkit-background-size:auto 100%;
    background-size:auto 100%;
    background-position: center center;
}
.banner1{
    background-image: url('../image/banner1.png');
}
.banner2{
    background-image: url('../image/banner1.png');
}
.banner3{
    background-image: url('../image/banner1.png');
}
.banner4{
    background-image: url('../image/banner1.png');
}
.banner2{}
.banner3{}
.banner4{}
.nav-wrapper{
    position: absolute;
    left:50%;
    bottom:23px;
    margin-left:-50px;
    width:101px;
    height:5px;
    z-index:11;
}
.nav-wrapper li{
    float:left;
    margin-right:8px;
    width:17px;
    height:5px;
    background-color:#48609e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    transition:.2s;
}
.nav-wrapper li:last-child{
    margin-right:0;
}
.nav-wrapper li.active{
    width:26px;
    background-color:#043fff;
}
/* 轮播图结束 */
/* ======================================= */


/* 弹出框开始 */
/* ======================================= */
#tipBox{
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    margin-left:-128px;
    margin-top:-65px;
    padding:30px;
    width:256px;
    border:1px solid #273b87;
    background-color:rgba(9,16,44,.9);
    text-align: center;
    z-index:11;
    font-size:16px;
    color:#fff;
}
/* 弹出框结束 */
/* ======================================= */

.loading-btn{
    border:1px solid #ccc;
    background-color:#ccc;
    color:#fff;
}

.confirm-btn{
    width:196px;
    height:44px;
    line-height:44px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.cancle-btn{
    width:93px;
    height:44px;
    line-height:44px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.cancle-btn:hover{
    width:93px;
    height:44px;
    line-height:44px;
    cursor: pointer;
}